<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{ page.title }} &middot; {{ site.name }}{% else %}{{ site.name }} &middot; Home{% endif %}</title>
	<meta name="robots" content="index,follow">
	<meta name="revisit-after" content="1 days">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="cleartype" content="on">
	<link rel="stylesheet" href="/main.css" type='text/css'>
	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
</head>
<body>
<div id="wrapper">
	<header id="top" class="main-header">
		<div class="module title color-1">
			<h1><a href="/"><img src="/wajic.png"></a></h1>
		</div>
		<div class="module links color-2">
			<li><a href="/">Home</a></li>
			<li><a href="https://github.com/schellingb/wajic">GitHub</a></li>
			<li><a href="/samples/">Samples</a></li>
			<li><a href="/up/">WAjicUp</a></li>
			<li><a href="/viewer/">Viewer</a></li>
		</div>
	</header>

	{{ content }}

	<div id="push"></div>
</div>

<div id="footer">
	&copy; Bernhard Schelling &middot; Design based on <a href="https://github.com/drvy/minimal-block" target="_blank">minimal-block</a> theme
</div>

<script>(function(i,r){i['GoogleAnalyticsObject']=r;i[r]=function(){i[r].q.push(arguments)},i[r].l=1*new Date(),i[r].q=[];i[r]('create','UA-60006780-5','auto');i[r]('send','pageview');})(window,'ga');</script>
<script defer src="//www.google-analytics.com/analytics.js"></script>

</body>
</html>
